body {
    background-image: url('backgorund_site.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-image: url('background_01.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    background-color: rgba(211, 85, 85, 0.637);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

form label {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
}

form .button-container {
    display: flex;
    justify-content: space-between;
}

form button {
    flex: calc(50% - 5px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #007bffc5;
    color: #ffffff;
    border: none;
    padding: 7px 17px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adicione um fundo com transparência para a modal */
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

h1 {
    font-size: 36px;
    margin-bottom: 35px;
}